/targetgit
/classes
/checkouts
.hgignore
.hg/
.clj-kondo
.aws-sam
.DS_Store
.calva
.lsp
node_modules/*
.shadow-cljs*
dist
out
target
profiles.clj
pom.xml
pom.xml.asc
*.jar
*.class
/.lein-*
/.nrepl-port
/.prepl-port
